product/priv-app/Velvet/Velvet.apk
product/priv-app/Messages/Messages.apk
product/priv-app/GmsCore/GmsCore.apk
product/app/YouTube/YouTube.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/Gmail2/Gmail2.apk
product/app/Maps/Maps.apk
product/app/Photos/Photos.apk
system/system/etc/logo.img
vendor/etc/camera/vidhance.lic
fs_config_dirs
fs_config_files
